
.ipynb_checkpoints/downloadDataFromYahoo-checkpoint.ipynb
.ipynb_checkpoints/process-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
log/.ipynb_checkpoints/cron-checkpoint.txt
output/.ipynb_checkpoints/SP500_Consolidated-checkpoint.csv
